html {
  background: Black;
}

h2 {
  font-family: Verdana;
  font-weight: normal;
  color: white;
  text-align: center;
  font-size: 50px;
}

.link1 {
  font-color: Aquamarine;
  font-size: 16px;
  text-align: center;
}

.header2 {
  font-weight: 300;
  font-size: 47px;
  text-align: center;
}

.header2 p {
  font-size: 21px;
  color: Gray;
}

.link2 p {
  font-color: Aquamarine;
  font-size: 16px;
  text-align: center;
}

.footer {
  text-align: right;
  color: Gray;
}

.image1 {
  text-align: center;
}

.image2 {
  text-align: center;
}

.video {
  text-align: center;
}
